<ng-container *ngIf="usersMonthly$ | async as usersMonthly else loading">
    <mat-card
        class="daxa-card new-customers-this-month-card mb-25 border-radius bg-white border-none d-block"
        [class.component-dark-theme]="themeService.isDark()"
        [class.rtl-enabled]="themeService.isRTLEnabled()"
    >
        <mat-card-header>
            <mat-card-title>
                <h5 class="mb-0">
                    New Customers This Month
                </h5>
            </mat-card-title>
            <mat-card-subtitle>
            <span class="daxa-badge position-relative">
                <i class="material-symbols-outlined">
                    trending_up
                </i>
                2.75%
            </span>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="number lh-1 fw-medium">
                {{usersMonthly.count | number}}
            </div>
            <span class="d-block text-body">
                Joined Today
            </span>
            <ng-container *ngIf="usersToday$ | async as users else loading">
                <div *ngIf="users.length > 0 else nousers" class="users d-flex align-items-center">
                    <ng-container *ngFor="let user of users">
                        <img ngSrc="{{user.imageUrl ? user.imageUrl : 'images/users/user1.jpg'}}" alt="user-image" width="200" height="200">
                    </ng-container>
                    <div class="fw-medium bg-daxa text-white rounded-circle">
                        {{ users.length | number}}
                    </div>
                </div>
            </ng-container>
            <ng-template #nousers>
                <div class="users d-flex align-items-center">
                    No Users
                </div>
            </ng-template>
        </mat-card-content>
    </mat-card>
</ng-container>

<ng-template #loading>
    <div class="loader flex-content-center">
        <mat-progress-spinner
            color="primary"
            mode="indeterminate">
        </mat-progress-spinner>
    </div>
</ng-template>
