<div class="row" *ngIf="toc$ | async as toc else loading">
    <div class="col-lg-6">
        <!-- Total Sales -->
        <app-total-sales />
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-md-6 col-lg-12">
                <!-- Total Orders -->
                <app-total-orders [totalOrders]="toc.count"/>

            </div>
            <div class="col-md-6 col-lg-12">
                <!-- Total Customers -->
                <app-total-customers />

            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-6">
                <!-- Total Revenue -->
                <app-total-revenue />

            </div>
            <div class="col-md-6">
                <!-- Sales Overview -->
                <app-sales-overview [totalSales]="toc.count"/>

            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <!-- Average Daily Sales -->
                <app-average-daily-sales />
            </div>
            <div class="col-md-6 col-lg-6">
                <!-- New Customers This Month -->
                <app-new-customers-this-month />

            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <!-- Top Selling Products -->
        <app-top-selling-products />
    </div>
    <div class="col-lg-6">
        <!-- Orders Summary -->
        <app-order-summary />

    </div>
    <div class="col-lg-6">
        <!-- Top Sellers -->
        <app-top-buyers />
    </div>
<!--    <div class="col-lg-12 col-xxxl-4">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6 col-xxxl-12">-->

<!--                &lt;!&ndash; Top Sales Locations &ndash;&gt;-->
<!--                <app-top-sales-locations />-->

<!--            </div>-->
<!--            <div class="col-lg-6 col-xxxl-12">-->

<!--                &lt;!&ndash; Revenue &ndash;&gt;-->
<!--                <app-revenue />-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="col-lg-12">
        <!-- Recent Orders -->
        <app-recent-orders />

    </div>
</div>

<ng-template #loading>
    <div class="d-flex justify-content-center align-items-center h-100">
        <mat-spinner diameter="32"></mat-spinner>
    </div>
</ng-template>
