<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Customers
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            E-Commerce
        </li>
        <li class="breadcrumb-item position-relative">
            Customers
        </li>
    </ol>
</div>

<!-- Customers -->
<mat-card
    class="daxa-card customers-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()">
    <mat-card-header>
        <mat-card-title>
            <form class="search-box position-relative">
                <i class="material-symbols-outlined">
                    search
                </i>
                <input type="text" class="input-search d-block w-100 border-none outline-0"
                       placeholder="Search customer..." #input>
            </form>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="customers-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="datasource" *ngIf="!(datasource.loading$ | async); else loading">

                    <!-- User ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>
                            User
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="product-info d-flex align-items-center">
                                <div class="image">
                                    <img ngSrc="{{(element.imageUrl) ? element.imageUrl : 'images/users/user1.jpg'}}"
                                         class="rounded-circle" alt="product-image" width="30" height="30">
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Customer Name -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>
                            Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.fullName }}
                        </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>
                            Email
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a mat-button [routerLink]="['/users/details', element.id]">
                                {{ element.email }}
                            </a>
                        </td>
                    </ng-container>

                    <!-- Telephone Column -->
                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef>
                            Phone
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.telephoneNumber }}
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="verified">
                        <th mat-header-cell *matHeaderCellDef>
                            Verified
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="daxa-badge active d-inline-block" *ngIf="element.verified">
                                {{ element.verified }}
                            </span>
                            <span class="daxa-badge deactive d-inline-block" *ngIf="!element.verified">
                                {{ element.verified }}
                            </span>
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-info">
                                <a mat-button [routerLink]="['/users/details', element.id]"
                                   matTooltip="View Customer"
                                   matTooltipPosition="above">
                                    <i class="material-symbols-outlined">
                                        visibility
                                    </i>
                                </a>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
                    </tr>

                </table>
            </div>
            <mat-paginator #paginator
                           [length]="datasource.totalSize"
                           [pageIndex]="datasource.page"
                           [pageSize]="datasource.pageSize"
                           [pageSizeOptions]="[20, 40, 60, 80, 100]"
                           (page)="logEvent($event)"
            >
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #loading>
    Loading Please Wait...
</ng-template>
