<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Products Details
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            E-Commerce
        </li>
        <li class="breadcrumb-item position-relative">
            Products
        </li>
        <li class="breadcrumb-item position-relative">
            Product Details
        </li>
    </ol>
</div>

<!-- Product Details -->
<mat-card
    class="daxa-card product-details-card mb-25 border-radius bg-white border-none d-block"
    [class.component-dark-theme]="themeService.isDark()"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <ng-container *ngIf="product$ | async as p">
        <mat-card-content>
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="product-details-image">
                        <div class="product-gallery__featured">
                            <img [ngSrc]="p.imagePath" [alt]="p.imagePath" class="border-radius" width="950"
                                 height="950">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="product-details-content">
                        <h3>
                            {{ p.name }}
                        </h3>
                        <div class="price d-flex align-items-center lh-1">
                        <span class="text-black fw-medium d-block">
                           {{ bundle_price | currency: "₦":"symbol":"1.0-0" }}
                        </span>
                        </div>
                        <div class="ratings lh-1 d-flex align-items-center text-body">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-half-line"></i>
                            <span class="d-inline-block position-relative">
                            (4.5)
                        </span>
                        </div>
                        <p>
                            {{ p.description }}
                        </p>
                        <ul class="info mb-0 mt-1 pl-0 list-unstyled">
                            <li class="text-body">
                                <span class="text-black">Category:</span>
                                {{ p.category }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Bundles">
                    <ng-container *ngIf="viewBundle else newbundle">
                    <div class="row">
                        <div class="col-8">
                            <h5>Product Bundles</h5>
                        </div>
                        <div class="col-4 my-2">
                            <a mat-button class="add-new-btn" color="primary" (click)="addBundle()">
                                + Add New Bundle
                            </a>
                        </div>
                    </div>

                    <div class="emails-table">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="datasource">
                                <!-- Unit Column -->
                                <ng-container matColumnDef="unit">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Unit
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <a class="fw-medium">
                                            {{ element.unit }}
                                        </a>
                                    </td>
                                </ng-container>

                                <!-- Price Column -->
                                <ng-container matColumnDef="price">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Price
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <a class="fw-medium">
                                            {{ element.price | currency: "₦":"symbol":"1.0-0" }}
                                        </a>
                                    </td>
                                </ng-container>

                                <!-- Status Column -->
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <a class="fw-medium">
                                            {{ element.enabled ? 'Enabled' : 'Disabled' }}
                                        </a>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Action
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="action-info">
                                            <a mat-button (click)="editBundle(element._id)" matTooltip="Edit Bundle" matTooltipPosition="above">
                                                <i class="material-symbols-outlined">
                                                    edit
                                                </i>
                                            </a>
                                            <a mat-button (click)="removeBundle(element._id)" matTooltip="Remove Bundle" matTooltipPosition="above">
                                                <i class="material-symbols-outlined">
                                                    delete
                                                </i>
                                            </a>

                                            <a mat-button (click)="suspendBundle(element._id)" matTooltip="Disable Bundle" matTooltipPosition="above" *ngIf="element.enabled">
                                                <i class="material-symbols-outlined">
                                                    remove_done
                                                </i>
                                            </a>
                                            <a mat-button (click)="restoreBundle(element._id)" matTooltip="Enable Bundle" matTooltipPosition="above" *ngIf="!element.enabled">
                                                <i class="material-symbols-outlined">
                                                    done_all
                                                </i>
                                            </a>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                    </ng-container>
                </mat-tab>
                <mat-tab label="Statistics" *ngIf="productStatistics$ | async as ps; else loading">
                    <h5>Product Statistics</h5>

                    <ul class="leads-list list-unstyled pl-0 mb-0">
                        <li class="d-flex align-items-center justify-content-between">
                            <div class="title d-flex align-items-center fw-medium">
                                From Scratch
                            </div>
                            <ng-container *ngIf="ps.all.length > 0; else noresults">
                                <span class="d-block text-body">
                               {{ ps.all[0].count | number }} Orders
                            </span>
                                <span class="d-block text-body">
                                {{ ps.all[0].total | currency: "₦":"symbol":"1.0-0" }}
                            </span>
                            </ng-container>
                        </li>

                        <li class="d-flex align-items-center justify-content-between">
                            <div class="title d-flex align-items-center fw-medium">
                                This Year
                            </div>
                            <ng-container *ngIf="ps.thisYear.length > 0; else noresults">
                                <span class="d-block text-body">
                               {{ ps.thisYear[0].count | number }} Orders
                            </span>
                                <span class="d-block text-body">
                                {{ ps.thisYear[0].total | currency: "₦":"symbol":"1.0-0" }}
                            </span>
                            </ng-container>
                        </li>

                        <li class="d-flex align-items-center justify-content-between">
                            <div class="title d-flex align-items-center fw-medium">
                                This Month
                            </div>
                            <ng-container *ngIf="ps.thisMonth.length > 0; else noresults">
                                <span class="d-block text-body">
                               {{ ps.thisMonth[0].count | number }} Orders
                            </span>
                                <span class="d-block text-body">
                                {{ ps.thisMonth[0].total | currency: "₦":"symbol":"1.0-0" }}
                            </span>
                            </ng-container>
                        </li>

                        <li class="d-flex align-items-center justify-content-between">
                            <div class="title d-flex align-items-center fw-medium">
                                Today
                            </div>
                            <ng-container *ngIf="ps.today.length > 0; else noresults">
                                <span class="d-block text-body">
                               {{ ps.today[0].count | number }} Orders
                            </span>
                                <span class="d-block text-body">
                                {{ ps.today[0].total | currency: "₦":"symbol":"1.0-0" }}
                            </span>
                            </ng-container>
                        </li>
                    </ul>
                </mat-tab>
                <mat-tab label="Ratings & Reviews">
                    <div class="overall-ratings">
                        <h5>
                            Ratings
                        </h5>
                        <div class="row align-items-center">
                            <div class="col-md-4 col-lg-3 col-xxxl-2">
                                <h3>
                                    4.9
                                </h3>
                                <span class="d-block text-body">
                                Overall Rating
                            </span>
                                <div class="all-ratings d-flex align-items-center">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <span class="text-body position-relative">(158 Reviews)</span>
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-9 col-xxxl-10">
                                <div class="rating-item position-relative">
                                    <div class="ratings d-flex align-items-center">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <span class="text-body position-relative">(5.00)</span>
                                    </div>
                                    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                                    <span class="number text-body d-block">
                                    (120)
                                </span>
                                </div>
                                <div class="rating-item position-relative">
                                    <div class="ratings d-flex align-items-center">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                        <span class="text-body position-relative">(4.00)</span>
                                    </div>
                                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    <span class="number text-body d-block">
                                    (25)
                                </span>
                                </div>
                                <div class="rating-item position-relative">
                                    <div class="ratings d-flex align-items-center">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        <span class="text-body position-relative">(3.00)</span>
                                    </div>
                                    <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
                                    <span class="number text-body d-block">
                                    (9)
                                </span>
                                </div>
                                <div class="rating-item position-relative">
                                    <div class="ratings d-flex align-items-center">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        <span class="text-body position-relative">(2.00)</span>
                                    </div>
                                    <mat-progress-bar mode="determinate" value="8"></mat-progress-bar>
                                    <span class="number text-body d-block">
                                    (3)
                                </span>
                                </div>
                                <div class="rating-item position-relative">
                                    <div class="ratings d-flex align-items-center">
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        <i class="ri-star-line"></i>
                                        <span class="text-body position-relative">(1.00)</span>
                                    </div>
                                    <mat-progress-bar mode="determinate" value="2"></mat-progress-bar>
                                    <span class="number text-body d-block">
                                    (1)
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="reviews$ | async as reviews">
                        <div class="col-md-6" *ngFor="let r of reviews.reviews">
                            <div class="review-item mb-25 border-radius">
                                <div class="ratings d-flex align-items-center">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <span class="text-body position-relative">({{ r.rating }})</span>
                                </div>
                                <p>
                                    {{ r.review }}
                                </p>
                                <div class="user-info d-flex align-items-center">
                                    <div>
                                    <span class="d-block">
                                        {{ r.userName }}
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </ng-container>
</mat-card>

<ng-template #loading>
    <mat-spinner class="d-block mx-auto" diameter="50"></mat-spinner>
</ng-template>

<ng-template #noresults>
    <div class="no-content d-flex align-items-center justify-content-center">
        <i class="ri-stop-circle-fill"></i>
        <span class="text-body">No orders for period</span>
    </div>
</ng-template>

<ng-template #newbundle>
    <mat-card class="daxa-card product-details-card mb-25 border-radius bg-white border-none d-block">
        <mat-card-content>
            <form [formGroup]="bundleForm" (ngSubmit)="onSubmitBundle()">
                <mat-form-field class="textarea">
                    <mat-label>
                        Unit
                    </mat-label>
                    <input matInput type="text" id="unit" formControlName="unit">
                </mat-form-field>
                &nbsp;
                <mat-form-field class="textarea">
                    <mat-label>
                        Price
                    </mat-label>
                    <input matInput type="number" id="price" formControlName="price">
                </mat-form-field>

                <div class="my-2">
                    <button mat-button  class="btn btn-info" (click)="cancelNew()">
                        Cancel
                    </button>
                    <button mat-button class="btn btn-primary" type="submit">
                        {{currentBundleId ? 'Update Bundle' : 'Create Bundle'}}
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</ng-template>
