<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Customer Details
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            E-Commerce
        </li>
        <li class="breadcrumb-item position-relative">
            Customers
        </li>
        <li class="breadcrumb-item position-relative">
            Customer Details
        </li>
    </ol>
</div>

<!-- Customer Details -->
<div class="row">
    <div class="col-lg-4" *ngIf="user$ | async as user">
        <mat-card
            class="daxa-card customer-card mb-25 border-radius bg-white border-none d-block"
            [class.component-dark-theme]="themeService.isDark()"
            [class.rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-content>
                <div class="text-center">
                    <img
                        ngSrc="{{user.imageUrl ? user.imageUrl : 'images/admin.png'}}"
                        width="200" height="200" class="rounded-circle" alt="customer-image">
                    <h4>{{ user.fullName }}</h4>
                </div>
                <div class="info">
                    <h5>
                        Details
                    </h5>
                    <ul class="pl-0 mb-0 list-unstyled mt-0">
                        <li class="text-body">
                            <span class="d-block text-black fw-medium">
                                Account ID
                            </span>
                            {{ user.id }}
                        </li>
                        <li class="text-body">
                            <span class="d-block text-black fw-medium">
                                Email
                            </span>
                            {{ user.email }}
                        </li>
                        <li class="text-body">
                            <span class="d-block text-black fw-medium">
                                Telephone
                            </span>
                            {{ user.telephoneNumber }}
                        </li>
                        <li class="text-body">
                            <span class="d-block text-black fw-medium">
                                Delivery Address
                            </span>
                            {{ user.address }}
                        </li>
                        <li class="text-body">
                            <span class="d-block text-black fw-medium">
                               Joined
                            </span>
                            {{ user.joined  | date }}
                        </li>

                        <ng-container *ngIf="status$ | async as status">
                            <li class="text-body">
                            <span class="d-block text-black fw-medium">
                                Total Orders
                            </span>
                                {{ (status.length > 0 ? status[0].count : 0.0) | number }}
                            </li>
                            <li class="text-body">
                            <span class="d-block text-black fw-medium">
                                Total Spend
                            </span>
                                {{ (status.length > 0 ? status[0].total : 0.0) | currency: "₦":"symbol":"1.0-0" }}
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-8">
        <mat-card
            class="daxa-card transactions-history-card mb-25 border-radius bg-white border-none d-block"
            [class.rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Transactions History
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button type="button" mat-button class="card-header-menu-btn" [matMenuTriggerFor]="cardHeaderMenu">
                        Last Month
                    </button>
                    <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                        <button mat-menu-item>
                            Last Day
                        </button>
                        <button mat-menu-item>
                            Last Week
                        </button>
                        <button mat-menu-item>
                            Last Month
                        </button>
                        <button mat-menu-item>
                            Last Year
                        </button>
                    </mat-menu>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="transactions-history-table">
                    <div class="table-responsive">
                        <table mat-table [dataSource]="datasource" *ngIf="!(datasource.loading$ | async); else loading">
                            <!-- Price Column -->
                            <ng-container matColumnDef="price">
                                <th mat-header-cell *matHeaderCellDef>
                                    Price
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ (element.grandTotal) | currency : "₦":"symbol":"1.0-0" }}
                                </td>
                            </ng-container>

                            <!-- Date Column -->
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef>
                                    Date
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.date | date }}
                                </td>
                            </ng-container>

                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>
                                    Status
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="daxa-badge pending d-inline-block pointer-link"
                                        *ngIf="element.status === 'Pending'"
                                        [routerLink]="['/ecommerce-page/order-details', element._id]">
                                        {{ element.status }}
                                    </span>
                                    <span class="daxa-badge confirmed d-inline-block pointer-link"
                                          *ngIf="element.status === 'Paid'"
                                          [routerLink]="['/ecommerce-page/order-details', element._id]">
                                        {{ element.status }}
                                    </span>
                                    <span class="daxa-badge rejected d-inline-block pointer-link"
                                          *ngIf="element.status === 'Cancelled'"
                                          [routerLink]="['/ecommerce-page/order-details', element._id]">
                                        {{ element.status }}
                                    </span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <mat-paginator #paginator
                                   [length]="datasource.totalSize"
                                   [pageIndex]="datasource.page"
                                   [pageSize]="datasource.pageSize"
                                   [pageSizeOptions]="[20, 40, 60, 80, 100]"
                                   (page)="logEvent($event)">

                    </mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #loading>
    Loading Please Wait...
</ng-template>
