<div
    class="sidebar-area bg-white active"
    [ngClass]="{'active': isSidebarToggled}"
    [class.component-dark-theme]="themeService.isDark()"
    [class.dark-sidebar]="themeService.isSidebarDark()"
    [class.right-sidebar]="themeService.isRightSidebar()"
    [class.hide-sidebar]="themeService.isHideSidebar()"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="logo bg-white">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="images/logo.png" alt="logo-icon" style="max-height: 32px">
            <span class="fw-semibold">IcePlanet</span>
        </a>
    </div>
    <div
        (click)="toggle()"
        class="burger-menu"
        [ngClass]="{'active': isSidebarToggled}"
    >
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <a routerLink="/" class="sidebar-menu-link" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            dashboard
                        </i>
                        <span class="title">
                           Dashboard
                        </span>
                    </a>

                    <a routerLink="/ecommerce-page" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       class="sidebar-menu-link">
                        <i class="material-symbols-outlined">
                            grocery
                        </i>
                        <span class="title">
                            Products
                        </span>
                    </a>

                    <a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       class="sidebar-menu-link">
                        <i class="material-symbols-outlined">
                           group
                        </i>
                        <span class="title">
                            Customers
                            </span>
                    </a>

                    <a routerLink="/ecommerce-page/orders" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       class="sidebar-menu-link">
                        <i class="material-symbols-outlined">
                            orders
                        </i>
                        <span class="title">
                            Orders
                            </span>
                    </a>

                    <a routerLink="/ecommerce-page/categories" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       class="sidebar-menu-link">
                        <i class="material-symbols-outlined">
                            category
                        </i>
                        <span class="title">
                            Categories
                            </span>
                    </a>

                    <a routerLink="/ecommerce-page/deliveries" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       class="sidebar-menu-link">
                        <i class="material-symbols-outlined">
                            delivery_truck_bolt
                        </i>
                        <span class="title">
                            Deliveries
                            </span>
                    </a>

                    <a routerLink="/ecommerce-page/audits" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       class="sidebar-menu-link">
                        <i class="material-symbols-outlined">
                           dynamic_feed
                        </i>
                        <span class="title">
                            Audits
                            </span>
                    </a>

<!--                    <a routerLink="/ecommerce-page/reviews" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"-->
<!--                       class="sidebar-menu-link">-->
<!--                        <i class="material-symbols-outlined">-->
<!--                            reviews-->
<!--                        </i>-->
<!--                        <span class="title">-->
<!--                            Reviews-->
<!--                            </span>-->
<!--                    </a>-->

<!--                    <a routerLink="/ecommerce-page/sellers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"-->
<!--                       class="sidebar-menu-link">-->
<!--                        <i class="material-symbols-outlined">-->
<!--                            front_loader-->
<!--                        </i>-->
<!--                        <span class="title">-->
<!--                            Suppliers-->
<!--                        </span>-->
<!--                    </a>-->

                    <a routerLink="/settings" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}" class="sidebar-menu-link">
                        <i class="material-symbols-outlined">
                            settings
                        </i>
                        <span class="title">
                            Account Settings
                        </span>
                    </a>

                    <a (click)="logout()" class="sidebar-menu-link" style="cursor: pointer">
                        <i class="material-symbols-outlined">
                            logout
                        </i>
                        <span class="title">Logout</span>
                    </a>


<!--                    <span class="sub-title text-body">-->
<!--                        PAGES-->
<!--                    </span>-->
<!--                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">-->
<!--                        <mat-expansion-panel-header>-->
<!--                            <mat-panel-title>-->
<!--                                <i class="material-symbols-outlined">-->
<!--                                    shopping_cart-->
<!--                                </i>-->
<!--                                <span class="title">-->
<!--                                    E-Commerce-->
<!--                                </span>-->
<!--                            </mat-panel-title>-->
<!--                        </mat-expansion-panel-header>-->
<!--                        <ul class="sidebar-sub-menu">-->
<!--                            <li class="sidemenu-item">-->
<!--                                <a routerLink="/ecommerce-page/create-category" routerLinkActive="active"-->
<!--                                   [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">-->
<!--                                    Create Category-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="sidemenu-item">-->
<!--                                <a routerLink="/ecommerce-page/sellers" routerLinkActive="active"-->
<!--                                   [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">-->
<!--                                    Sellers-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="sidemenu-item">-->
<!--                                <a routerLink="/ecommerce-page/seller-details" routerLinkActive="active"-->
<!--                                   [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">-->
<!--                                    Seller Details-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="sidemenu-item">-->
<!--                                <a routerLink="/ecommerce-page/create-seller" routerLinkActive="active"-->
<!--                                   [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">-->
<!--                                    Create Seller-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </mat-expansion-panel>-->
<!--                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">-->
<!--                        <mat-expansion-panel-header>-->
<!--                            <mat-panel-title>-->
<!--                                <i class="material-symbols-outlined">-->
<!--                                    content_paste-->
<!--                                </i>-->
<!--                                <span class="title">-->
<!--                                    Invoices-->
<!--                                </span>-->
<!--                            </mat-panel-title>-->
<!--                        </mat-expansion-panel-header>-->
<!--                        <ul class="sidebar-sub-menu">-->
<!--                            <li class="sidemenu-item">-->
<!--                                <a routerLink="/invoices" routerLinkActive="active"-->
<!--                                   [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">-->
<!--                                    Invoices-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="sidemenu-item">-->
<!--                                <a routerLink="/invoices/invoice-details" routerLinkActive="active"-->
<!--                                   [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">-->
<!--                                    Invoice Details-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </mat-expansion-panel>-->
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>
