<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Edit Product
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            E-Commerce
        </li>
        <li class="breadcrumb-item position-relative">
            Create Product
        </li>
    </ol>
</div>

<!-- Edit Product -->
<mat-card class="daxa-card edit-product-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-content>
        <form [formGroup]="createForms" (ngSubmit)="onSubmit(createForms)">
            <div class="row">
                <div class="profile-content mb-5">
                    <div class="d-md-flex align-items-end justify-content-between">
                        <div class="d-md-flex align-items-end">
                            <div class="image position-relative">
                                <img ngSrc="{{imageUrl}}" alt="profile-image" width="300" height="300">

                                <input (change)="onFileChange($event)" type="file" style="margin: 20px"/>

<!--                                <button mat-flat-button color="primary" type="button" style="margin: 20px;">Select Image-->
<!--                                    <input (change)="onFileChange($event)"-->
<!--                                           style="opacity: 0; position:absolute; width: 100%; height: 100%; margin: 20px;"-->
<!--                                           type="file"/>-->
<!--                                </button>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Product Name
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Product name
                                    </mat-label>
                                    <input matInput formControlName="name">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Product Category
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Select
                                    </mat-label>
                                    <mat-select formControlName="category">
                                        <mat-option *ngFor="let category of categories$ | async" [value]="category">
                                            {{ category }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Product Description
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Product description
                                    </mat-label>
                                    <textarea matInput placeholder="Type here..."
                                              formControlName="description"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <button mat-button *ngIf="!(loading$ | async); else loading" color="primary">
                    Save Changes
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<app-e-product-bundle
    (addBundleEvent)="addBundle($event)"
    (removeBundleEvent)="removeBundle($event)">
</app-e-product-bundle>

<ng-template #loading>
    <div class="d-flex justify-content-center align-items-center h-100">
        <mat-spinner diameter="32"></mat-spinner>
    </div>
</ng-template>
