<mat-card
    class="daxa-card top-selling-products-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Top Selling Products
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button type="button" mat-button class="card-header-menu-btn" [matMenuTriggerFor]="cardHeaderMenu">
                This Week
            </button>
            <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                <button mat-menu-item>
                    This Day
                </button>
                <button mat-menu-item>
                    This Week
                </button>
                <button mat-menu-item>
                    This Month
                </button>
                <button mat-menu-item>
                    This Year
                </button>
            </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="top-selling-products-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" *ngIf="!(dataSource.loading$ | async); else loading">
                    <!-- Product Column -->
                    <ng-container matColumnDef="product">
                        <th mat-header-cell *matHeaderCellDef>
                            Product
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="product-info d-flex align-items-center">
                                <div class="image">
                                    <img ngSrc="{{element.product_details[0].imagePath ? element.product_details[0].imagePath : 'images/users/user1.jpg'}}" alt="product-image" width="200" height="200">
                                </div>
                                <div class="info">
                                    <a [routerLink]="['/ecommerce-page/product-details',  element._id]" class="d-block fw-medium">
                                        {{element.product_details[0].name}}
                                    </a>
                                    <span class="d-block text-body">
                                        {{element.product_details[0].category}}
                                    </span>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Quantity Number Column -->
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef>
                            Quantity
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.quantity | number}} Orders
                        </td>
                    </ng-container>

                    <!-- Price Column -->
                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef>
                            Purchase Total
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.total | currency: "₦":"symbol":"1.0-0"}}
                        </td>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
            </div>
            <mat-paginator #paginator
                           [length]="10"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[10, 20]"
                           (page)="logEvent($event)"
                           showFirstLastButtons
            >
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #loading>
    <div class="d-flex justify-content-center align-items-center h-100">
        <mat-spinner diameter="32"></mat-spinner>
    </div>
</ng-template>
